* {
  margin: 0px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #DE0132;
  min-height: 60px;
}

.navlink {
  color: white;
  font-size: 30px;
}

.navlink:hover {
  color: #f0a5ff;
}
